In [53]:
import os
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [45]:
# Parent Directory
parent_dir = "C:/Users/Court/Downloads/PDFDocuments"
dir_list = os.listdir(parent_dir)

In [56]:
class FileInfo:
    def __init__(self,file):
        self.file = file
        file_terms = file.replace('_',' ')
        file_terms = file_terms.replace('-',' ')
        file_terms = file_terms.split('.')
        file_terms = file_terms[:-1]
        self.file_terms = file_terms[0]
        
file_info=[]
for file in dir_list:
    file_info.append(FileInfo(file).file_terms)

In [57]:
print(file_info[10])

Courtney Nelson Resume Stitch Fix

In [58]:
data = pd.DataFrame(file_info)

In [59]:
data

                                                    0
0                            academichistoryreviewpdf
1                                   Aditya Lahiri Nov
2                                           Blender 3
3     Boeing 737 MAX Preliminary Congressional Report
4   CMOS VLSI Design A Circuits and Systems Perspe...
..                                                ...
92                                        UCSD Aug 19
93                              waiver liability form
94                      wi22 availability form nelson
95                             wi22 availability form
96         wi22 individual development plan worksheet

[97 rows x 1 columns]

In [72]:
vectorizer = CountVectorizer()

In [73]:
X = vectorizer.fit_transform(file_info)

In [74]:
X = X.toarray()

In [76]:
print(vectorizer.get_feature_names())

['001', '10', '10th', '11', '12', '19', '1al', '1b', '1c', '2018', '2022', '2a', '2c', '349', '38', '4th', '737', '9e', 'a00', 'a11', 'academichistoryreviewpdf', 'aditya', 'aerospace', 'alexander', 'and', 'app', 'arnold', 'ase', 'aug', 'autonomous', 'availability', 'b00', 'blender', 'boeing', 'box', 'by', 'cart', 'chapter', 'circuits', 'classification', 'cmos', 'collins', 'complete', 'comps', 'computer', 'congressional', 'copy', 'courtney', 'cv', 'design', 'development', 'dmj', 'download', 'due', 'edition', 'electricity', 'evaluation', 'fa20', 'fa21', 'fax', 'file', 'fix', 'fluwavthrmdynoptics', 'form', 'from', 'fundamentals', 'gabriela', 'george', 'golf', 'graded', 'groisman', 'halliday', 'hereditary', 'homework', 'ia', 'icheva', 'imprints', 'in', 'individual', 'instructor', 'jan', 'kam', 'laboratory', 'lahiri', 'liability', 'magnetism', 'manual', 'max', 'mechanics', 'modern', 'nelson', 'neuropathies', 'new', 'nov', 'oct', 'of', 'oleg', 'optics', 'order', 'outbox', 'pattern', 'perpheral', 'perspective', 'philbert', 'phys', 'phys2a', 'phys2c', 'physics', 'plan', 'popmintchev', 'poster', 'preliminary', 'project', 'q3', 'quiz', 'quiz1', 'quiz3', 'quiz4', 'reg227', 'reg256', 'report', 'research', 'resnick', 'resume', 'richard', 'sample', 'science', 'shpyrko', 'solutions', 'sp21', 'spring', 'statistics', 'stitch', 'student', 'suli', 'syllabus', 'systems', 'tenio', 'to', 'tsai', 'ucsd', 'vlsi', 'waiver', 'walker', 'waves', 'wi21', 'wi22', 'worksheet', 'xiuwen', 'yuhao']

In [122]:
df = pd.DataFrame(data=X,columns = vectorizer.get_feature_names())

In [123]:
df

,001,10,10th,11,12,19,1al,1b,1c,2018,...,ucsd,vlsi,waiver,walker,waves,wi21,wi22,worksheet,xiuwen,yuhao
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
93,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
94,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
95,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
96,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0

In [124]:
sumdf = pd.DataFrame(X.sum(axis=0).reshape(1,len(X[0])),columns = vectorizer.get_feature_names())

In [125]:
sumdf

,001,10,10th,11,12,19,1al,1b,1c,2018,...,ucsd,vlsi,waiver,walker,waves,wi21,wi22,worksheet,xiuwen,yuhao
0,1,1,1,2,1,2,1,4,2,1,...,2,4,1,1,2,4,3,1,1,1

In [126]:
df2 = pd.concat([sumdf,df]).reset_index(drop=True)

In [127]:
df2

,001,10,10th,11,12,19,1al,1b,1c,2018,...,ucsd,vlsi,waiver,walker,waves,wi21,wi22,worksheet,xiuwen,yuhao
0,1,1,1,2,1,2,1,4,2,1,...,2,4,1,1,2,4,3,1,1,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
94,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
95,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
96,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
97,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0

In [128]:
sort = df2.sort_values(by = 0, axis=1)